@using Microsoft.AspNetCore.Identity;

@inject SignInManager<ApplicationUser> sigInManager;
@{
    ViewData["Title"] = "Home Page";
}

@model Link
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>



@if (sigInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Role</th>
                <th scope="col">Links</th>

            </tr>
        </thead>
        <tbody>
            

                @foreach (var items in ViewBag.Admin)
                {
            <tr>
                <th scope="row">1</th>
                <td>@items.RoleName</td>
                <td><a href="#">@items.LinkName</a></td>


            </tr>
                }
               
</tbody>
    </table>
}
else if (sigInManager.IsSignedIn(User) && User.IsInRole("Finance_Admin"))
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Role</th>
                <th scope="col">Links</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var items in ViewBag.Finance)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@items.RoleName</td>
                    <td><a href="#">@items.LinkName</a></td>


                </tr>
            }
        </tbody>
    </table>
}
else if (sigInManager.IsSignedIn(User) && User.IsInRole("Sales_Admin"))
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Role</th>
                <th scope="col">Links</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var items in ViewBag.Sales)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@items.RoleName</td>
                    <td><a href="#">@items.LinkName</a></td>


                </tr>
            }
        </tbody>
    </table>
}
else if (sigInManager.IsSignedIn(User) && User.IsInRole("Hr_Admin"))
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Role</th>
                <th scope="col">Links</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var items in ViewBag.Hr)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@items.RoleName</td>
                    <td><a href="#">@items.LinkName</a></td>


                </tr>
            }
        </tbody>
    </table>
}
else if (sigInManager.IsSignedIn(User) && User.IsInRole("Engg_Admin"))
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Role</th>
                <th scope="col">Links</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var items in ViewBag.Engg)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@items.RoleName</td>
                    <td><a href="#">@items.LinkName</a></td>


                </tr>
            }
        </tbody>
    </table>
}